<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app.REIN">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="test2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/App">


        <receiver android:name="com.example.app.REIN.AppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <activity android:name="com.example.app.REIN.BUTTON1_CLICKED"/>
        <activity android:name="com.example.app.REIN.BUTTON2_CLICKED"/>
        <activity android:name="com.example.app.REIN.BUTTON3_CLICKED"/>
        <activity android:name="com.example.app.REIN.BUTTON4_CLICKED"/>
        <activity android:name="com.example.app.REIN.BUTTON5_CLICKED"/>

        <activity android:name="com.example.app.REIN.DummyBrightnessActivity"
            android:taskAffinity="com.example.app.dummy"
            android:excludeFromRecents="true"
            android:theme="@style/EmptyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:enabled="true" android:name="com.example.app.REIN.MyService" />
    </application>



</manifest>